
body {
    background: url(../images/wallpaper.wiki-Crystal-Wallpaper-Full-HD-PIC-WPB0011435.jpg);
    background-size: cover;  
}

#container {
    width: 800px;
    margin: 0 auto;
}
#gameName {
    font-size: 44px;
    color: #ffffff;
    background-color: black;
    padding: 10px;
    text-align: center;
}

.title {
    font-size: 18px;
    color: black;
    background-color: lightgrey;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
}

#directions {
    border-radius: 25px;
    font-size: 14px;
    color: black;
    /* background-color: #ffffff; */
    background: linear-gradient(#ffffff, lightgrey);
    text-align: justify;
    padding: 20px;
    line-height: 20px;
    width: 350px;
    margin-right: 50px;
    margin-top: 20px;
    margin-left: 23px;
    float: left;
    border: 1px solid black;
}

.numbers {
    font-size: 25px;
    color: black;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    line-height: 20px;
    width: 150px;
}

.subTitle {
    font-size: 18px;
    color: #ffffff;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
}

.subNumbers {
    font-size: 25px;
    color: black;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    line-height: 20px;
    width: 150px;
}

#scoreBox1 {
    /* margin: auto; */
    float: left;
    overflow: auto;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 23px;
}

#scoreBox2 {
    float: left;
    overflow: auto;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 23px;
    
}

#gameStatusMsg {
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 23px;
    width: 323px;
    font-size: 18px;
    border: 1px solid black;
    background-color:green;
    color: #ffffff;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    clear: right;
    
    
}

.jewelButtons {
    margin-top: 30px;
    margin-bottom: 100px;
    float: left;
    clear: right;
}

.btn {
    margin: 5px;
    background: #fafafa;
}

footer,
.push {
    height: 50px;
}

/* end sticky footer styling */

.footerContainer {
    border-top: 5px solid #ffffff;
    width: 100%;
    background-color:black;
    color: #ffffff;
    text-align: center;  
    font-size: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    line-height: 65px;
    height: 50px;
}

/* @media queries go here (bottom of style.css) */
@media only screen and (max-width: 980px) {
    /* For large screen devices */
    body {
        background-size: cover;  
    }
    #container {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* For medium screen devices */
    #container {
        width: 100%;
    }
    
    #scoreBox1, #scoreBox2 {
        display: block;
    }
    
    body {
        background-size: cover;  
        
    }
}

@media only screen and (max-width: 640px) {
    /* For small screen devices */
    body {
        background-size: cover;  
        
    }
}